button {
    margin-right: 0.5rem !important;
    margin-top: 0.27rem !important;
}

.chip {
    width: 13rem !important;
    margin-top: 1.06rem !important;

    .fade_effect {
        width: 13rem !important;
        border-radius: 0.23rem !important;
        height: 1.4rem !important;
        padding: 1.4rem !important;
        /* fade effect */
        background-image: linear-gradient(180deg, transparent, rgba(214, 212, 212, 0.61), rgb(114, 108, 108));
    }
}