@import './app.scss';
@import './main.scss';



* {
    margin: 0;
}




@media (max-width: 9000px) {
    .hideabove275 {
        display: none;        
    }
}
@media (max-width: 1326px) {
    html {
        font-size: 85%;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 80%;
    }

    .title {
        font-size: 3.5rem !important;
    }

    .chip {
        width: 11.8rem !important;
        .fade_effect {
            width: 11.8rem !important;
        }
    }
}
@media (max-width: 360px) {
    html {
        font-size: 76%;
    }

    .chip {
        span {
            font-size: 0.915rem;
        }
    }
}
@media (max-width: 335px) {
    html {
        font-size: 71%;
    }

    .chip {
        width: 10.2rem !important;
        .fade_effect {
            width: 10.2rem !important;
        }
        span {
            font-size: 1.1rem;
        }
    }

    .hideon335 {
        display: none !important;
    }

    .card {
        height: 36rem !important;
    }
}
@media (max-width: 320px) {
    html {
        font-size: 69%;
    }
}
@media (max-width: 300px) {
    html {
        font-size: 66%;
    }

    .card {
        height: 37.15rem !important;
    }
}
@media (max-width: 285px) {
    html {
        font-size: 63%;
    }

    .card {
        height: 38rem !important;
    }
}
@media (max-width: 275px) {
    html {
        font-size: 60%;
    }

    .chip {
        border-radius: 40px !important;
        .fade_effect {
            width: 0.2rem !important;
            border-radius: 40px !important;
            #icon {
                margin-left: -6.7px;
            }    
        }
    }

    .hideon275 {
        display: none;
    }

    .hideabove275 {
        display: block;      //redisplay
        margin-top: -1.85rem;
        margin-left: 4.5rem;
        font-weight: bold;
        font-style: italic;
    }

    .card {
        padding: 0.1rem;
        height: 39.38rem !important;
    }
}
@media (max-width: 260px) {
    html {
        font-size: 58%;
    }

    .title {
        font-size: 3.5rem !important;
    }

    .card {
        height: 40.05rem !important;
    }
}
@media (max-width: 250px) {
    html {
        font-size: 55%;
    }

    .chip {
        #icon {
            margin-left: -5.5px !important;
        } 
    }

    .card {
        height: 41.5rem !important;
    }
}
@media (max-width: 240px) {
    html {
        font-size: 52%;
    }

    .card {
        height: 42.95rem !important;
    }
}
@media (max-width: 230px) {
    html {
        font-size: 50%;
    }

    .card {
        height: 44.3rem !important;
    }
}
@media (max-width: 215px) {
    html {
        font-size: 47%;
    }

    .title {
        font-size: 3.3rem !important;
    }

    .card {
        padding: 0.5rem;
        height: 45.44rem !important;
    }
}
@media (max-width: 210px) {
    html {
        font-size: 44%;
    }

    .card {
        padding: 1.15rem;
        height: 46rem !important;
    }
}